* {
	margin: 0;
}
html,
body,
.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
footer {
	background-color: black;
	height: 52px;
	margin-top: -52px;
}
nav{
	opacity:90%;
}
.footer-text{
	margin-top: -50px;
	color: white;
}

@media (max-width:965px){
	body{
		background-color:#00bfff;
	}
	h2{
		font-size:25px;
	}
	img{
		width:180px;
	}
}
@media (max-width:624px){
	h2{
		font-size:20px;
		text-align:center;
	}
	.img_block{
		position:relative;
		height:250px;
		width:100%;
	}
	img{
		position: absolute;
		left:50%;
		top:0;
		transform: translate(-50%, 0%);
	}
	.title{
		/*float: left;*/
		/*height:100px;*/
		width:100%;
		margin-bottom: 0;
		position: absolute;
		left:50%;
		bottom:0px;
		transform: translate(-50%, 0%);
	}/*991*/
	button{
		position:absolute;
		float:left;
		top: 0;
		left: 0;
		width:30px;
		height:25px;
	}
	.nbar-toggler{
		position:absolute;
		top: 1.3px;
		left: 3.5px;
		width: 20px;
		height: 20px;
		/*transform: translate(+50%, 0%);*/
	}
	.content_text{
		width:100%;
	}
}
a{
	float:left;
}
.title{
	float:left;
}
button{
	border-color: transparent;
	float: left;
}
@media (max-width:804px){
	button{
		clear: left;
	}
}
@media (max-width:644px){
	.footer-text{
		font-size: 12px;
	}
	img{
		width:145px;
	}
}
.secondary{
	padding-left:50px;
}
@media (max-width:285px){
	h2{
		font-size: 17px;
	}
	a{
		font-size: 14px;
	}
	.secondary{
		padding-left:20px;
	}
}
@media (min-width:965px){
	body{
		background-image:url("background.jpg");
		background-size:145%;
	}
}
.menu{
	float: left;
}
.content_text{
	float:left;
}
a{
	color:black;
	text-decoration: underline;
}
.links{
	text-decoration: none;
}
hr{
	background-color:black;
	clear: left;
}