*{
	margin:0;
	padding:0;
	color:white;
	overflow-x:hidden;
}
header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:linear-gradient(black, transparent);
	color:white;
	height:200px;
	z-index:2;
}
nav{
	width:100vw;
	min-height:100vh;
}
h1{
	text-align:center;
	margin-top:30px;
}
.header-1{
	position:relative;
	width:100vw;
	height:200px;
}
.links{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
}
a{
	position:relative;
	float:left;
	padding:10px;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}
.menu-links > a{
	clear:left;
}
.menu-links{
	margin-top:20px;
	margin-left:10px;
}
a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: white;
	content: "";
	transition: width 0.3s ease-out;
}
a:hover:after{
	width: 100%;
}
#main{
	width:100vw;
	height:100vh;
}
h2{
	font-size:50px;
	text-align:center;
}
h4{
	text-align:center;
	text-transform:uppercase;
}
.s-1{
	background:linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.9) ), url('/bg1.jpg');
}
.s-2{
	background:linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.9) ), url('/bg3.jpg');
}
.s-3{
	background:linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.9) ), url('/bg2.jpg');
}
.skill{
	position:relative;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	width:100vw;
	height:100vh;
}
.inner-text{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.portfolio-1{
	position:relative;
	height:70vh;
	background-image:linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.9) ), url('/bg4.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
#port-1{
	background:url('/port1.jpeg');
	background-repeat:no-repeat;
	background-size:cover;
}
.portfolio-2{
	min-height:500px;
	width:100vw;
}
.port{
	position:relative;
	width:50vw;
	padding:0;
	height:500px;
	float:left;
	box-shadow:inset 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
	transition:0.3s;
}
.port:hover{
	box-shadow:inset 0px 0px 60px 60px rgba(0, 0, 0, 0.9);
}
#contacts{
	position:relative;
	width:100vw;
	height:100vh;
	background-image:linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.9) ), url('/contacts.jpg');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}
img{
	height:50px;
	float:left;
}
h3 > a{
	clear:left;
}
.contact > p{
	line-height:50px;
	padding-left:10px;
}

.contacts-inner{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
h3{
	text-align:center;
}
.toggle-button{
	display:none;
	position:absolute;
	top:5px;
	left:5px;
	width: 40px;
    height: 30px;
    margin-left: 12px;
    margin-top: 10px;
    color: #000;
    font-size: 18px;
}
@media(max-width:1265px){
	.port{
		width:100vw;
	}
}
@media(max-width:769px){
	.links{
		display:none;
	}
	.toggle-button{
		display:block;
	}
        
}
@media(max-width:959px){
	.contacts-inner{
		width:100vw;
	}
}
@media(max-width:479px){
	h3{
		font-size:15px;
	}
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
#menu{
	background-color:#1D1F20;
}
