*{
	margin:0;
	font-family:sans-serif;
	font-style:normal;
	font-size:20px;
}
header{
	height:110px;
	width:100vw;
	position:fixed;
	z-index:1;
	background-color:rgba(0, 0, 0, .5);
}

nav{
	background-color:#ccffbd;
	min-height:90vh;
}
footer{
	background-color:#1c1427;
	height:200px;
	color:#f0eee6;
}
.copyright{
	margin-left:15px;
}
img{
	height:100px;
}
a{
	vertical-align:middle;
	margin-left:20px;
}
.blocks{
	z-index:0;
	background-attachment: fixed;
	height:100vh;
	position:relative;
	background-size:cover;
}
.blocks:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
}
.block1{
	background-image: url("/primewest/img1.jpg");
}
.block2{
	background-image: url("/primewest/img2.jpg");
}
.block3{
	background-image: url("/primewest/img3.jpg");
}
.block4{
	background-image: url("/primewest/img4.jpeg");
}
.block5{
	background-image: url("/primewest/img5.jpg");
}
.block-text{
	position:relative;
	z-index:1;
	height:100vh;
	line-height:100vh;
	text-align: center;
	font-size:50px;
	color:#f0eee6;
}
.header-link{
	text-decoration:none;
	color:#f0eee6;
	margin-left:50px;
}
